@model ForgetPasswordViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<style>
    body {
        background-color: #f0f0f0; 
        height: 100vh; 
        display: flex; 
        justify-content: center;
        align-items: center; 
        margin: 0; 
    }

    .container {
        text-align: center;
    }

    .form-control {
        width: 300px; 
        margin: 0 auto;
    }
</style>

<div class="container">
    <h2>Şifre Yenileme Sayfası</h2>
    <br />
    <form method="post">
        <label>Lütfen Mail Adresinizi Giriniz</label>
        <input type="text" class="form-control" asp-for="Email" />
        <br />
        <button class="btn btn-primary">Gönder</button>
    </form>
    <br />
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Adımlar</h5>
            <hr />
            <p class="card-text">Kayıtlı olduğunuz mail adresini giriniz.</p>
            <p class="card-text">'Gönder' tuşuna bastıktan sonra mail adresinizi kontrol ediniz.</p>
            <p class="card-text">Gelen kutunuzda mail olmaması durumunda; Spam kutunuzu kontrol edin.</p>
            <p class="card-text">
                <strong>
                    <small class="text-body-secondary">
                        Gerekli adımları takip ettikten sonra, ilgili linke tıklayarak şifrenizi yenileyebilirsiniz!😊
                    </small>
                </strong>
            </p>
        </div>
    </div>
    <br />
    <div class="col-md-12  text-center">
        <p style="font-size: 12px; font-weight: bold; color: black;">&copy; 2024 OnlineNutri  Tüm hakları saklıdır.</p>
    </div>
</div>