@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NutritionistLayout.cshtml";
}

<body class="">
    <div class="wrapper ">
        @await Html.PartialAsync("/Areas/Nutritionist/Views/Components/_ProfileInformation/Default.cshtml")
    </div>

</body>
