@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/AdminPartial/_HeadPartial.cshtml")
<body>
    @await Html.PartialAsync("/Views/AdminPartial/_HeaderPartial.cshtml")


    @await Html.PartialAsync("~/Views/AdminPartial/_SideBar.cshtml")

    <div class="main-content">
        @RenderBody()
    </div>
    @await Html.PartialAsync("~/Views/AdminPartial/_FooterPartial.cshtml")


    @await Html.PartialAsync("~/Views/AdminPartial/_ScriptPartial.cshtml")
</body>
</html>
