<!DOCTYPE html>
<html lang="tr">
@await Html.PartialAsync("~/Views/NutriPartial/_NutriHeadPartial.cshtml")
<body>
    @await Html.PartialAsync("~/Views/NutriPartial/_NutriSideBarPartial.cshtml")

    @await Html.PartialAsync("~/Views/NutriPartial/_NutriHeaderPartial.cshtml")

    <main class="main-content">
        @RenderBody()
    </main>

    @await Html.PartialAsync("~/Views/NutriPartial/_NutriFooterPartial.cshtml")

    @await Html.PartialAsync("~/Views/NutriPartial/_NutriScriptPartial.cshtml")
</body>
</html>
