@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/LayoutPartial/_HeadPartial.cshtml")
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <style>
        .backstretch {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; 
        }

            .backstretch img {
                width: 100%; 
                height: auto; 
    </style>

    <div class="preloader">

        <div class="sk-spinner sk-spinner-pulse"></div>

    </div>

    @await Html.PartialAsync("/Views/LayoutPartial/_NavbarPartial.cshtml")
    @RenderBody()
    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")


    @await Html.PartialAsync("/Views/LayoutPartial/_ScriptsPartial.cshtml")
</body>
@RenderSection("scripts", required: false)
</html>
