################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineNutritionistProject/FileContentIndex/5a95e6c9-91c9-4110-83f2-904b1d18296b.vsidx
/.vs/OnlineNutritionistProject/FileContentIndex/7e40e36d-48f1-476e-b271-ee150c366c13.vsidx
/.vs/OnlineNutritionistProject/FileContentIndex/a04bf766-bf03-46ba-be85-ebf13ed1048e.vsidx
/.vs/OnlineNutritionistProject/FileContentIndex/cd5687c0-28a6-4ebe-83d8-2113e4b34c3f.vsidx
/.vs/OnlineNutritionistProject/FileContentIndex/39b182ec-54fa-4012-9518-796f69a13819.vsidx
/.vs/OnlineNutritionistProject/FileContentIndex/3c4be6ed-fa6d-4bbf-9ad7-1bbde7de597b.vsidx
/.vs/OnlineNutritionistProject/FileContentIndex/0d6bd135-45c6-41f7-ba83-f96103ec34d8.vsidx
/.vs/OnlineNutritionistProject/FileContentIndex/035ff1de-ec5c-4c6f-8a4a-bb0132d5c9d4.vsidx
/.vs/OnlineNutritionistProject/FileContentIndex/0ed2ea03-2d05-4c1e-b954-dc4f68461a42.vsidx
/.vs/OnlineNutritionistProject/FileContentIndex/5352aaf7-7a96-43ae-9908-c920fef22082.vsidx
/.vs/OnlineNutritionistProject/FileContentIndex/a375bdcc-a36a-44dd-ae8f-90572dc98ad6.vsidx
/.vs/OnlineNutritionistProject/FileContentIndex/b9946e33-6399-4e61-b7d6-2c8914664e25.vsidx
