@model List<Books>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<section id="price" class="parallax-section">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.9s">
                    <h2>Our Prices</h2>
                    <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo.</p>
                </div>

                <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="1s">
                    <div class="pricing__item">
                        <h3 class="pricing__title">@item.Title</h3>
                        <br>
                        <div><img src="@item.Image" class="img-responsive" alt="Overview"></div>
                        <ul class="pricing__feature-list">
                            <li class="pricing__feature">@item.AppUser.Name</li>
                        </ul>
                        <button class="pricing__action">Kitaba göz atın</button>
                    </div>
                </div>

            </div>
        }
    </div>

</section>

