<!-- =========================
    NEWSLETTER SECTION
============================== -->
<section id="newsletter" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10" data-wow-delay="0.9s">
                <h2>HABER BÜLTENİ</h2>
                <p>Beslenme ve sağlık konularında güncel bilgiler için bültenimize abone olun.</p>
                <div class="newsletter_detail">
                    <form action="#" method="post" id="newsletter-signup">
                        <div class="col-md-6 col-sm-6">
                            <input name="name" type="text" class="form-control" id="name" placeholder="Ad Soyad">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input name="email" type="email" class="form-control" id="email" placeholder="E-posta Adresi">
                        </div>
                        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                            <input name="submit" type="submit" class="form-control" id="submit" value="ABONE OL">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section> 