<section id="overview" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <img src="/theme/images/overview-img.jpg" class="img-responsive" alt="Overview">
                <blockquote class="wow fadeInUp" data-wow-delay="1.9s">Sağlıklı beslenme, yaşam kalitenizi artıran ve size enerji veren bir yaşam tarzıdır. Uzman diyetisyenlerimizle birlikte ideal kilonuza ulaşın.</blockquote>
            </div>

            <div class="col-md-1"></div>

            <div class="wow fadeInUp col-md-4 col-sm-12" data-wow-delay="1s">
                <div class="overview-detail">
                    <h2>DİYETİSYENLİK HİZMETLERİ</h2>
                    <p>Uzman diyetisyenlerimiz, kişisel beslenme ihtiyaçlarınızı analiz ederek size özel diyet programları hazırlar. Sağlıklı kilo verme, kilo alma veya beslenme alışkanlıklarınızı düzenleme konularında profesyonel destek alın.</p>
                    <p>Platformumuzda birçok uzman diyetisyen bulabilir, <a href="/Nutritionist/Index">diyetisyenlerimizi</a> inceleyebilir ve size en uygun olanı seçebilirsiniz. Ayrıca <a href="/Blogs/Index">blog sayfamızdan</a> beslenme ipuçlarını takip edebilirsiniz.</p>
                    <a href="#trainer" class="btn btn-default smoothScroll">Hemen Başlayın</a>
                </div>
            </div>

            <div class="col-md-1"></div>

        </div>
    </div>
</section>