@model Consultancy


@{
    ViewData["Title"] = "ListConsultancy";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section id="blog" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7">

                <div class="blog-author wow fadeInUp" data-wow-delay="1s">
                    <div class="media">
                        <div class="media-object pull-left">
                            <a href="#"><img src="images/blog-author.jpg" class="img-responsive img-circle" alt="blog"></a>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">@Model.AppUser.Name</h4>
                            <p>@Model.Description</p>
                        </div>


                    </div>
                </div>
                @await Html.PartialAsync("/Views/GetConsultancy/AddConsultancy.cshtml" , new CoreLayer.Models.GetConsultancy())

            </div>
            <div class="col-md-4 col-sm-5 wow fadeInUp" data-wow-delay="1.3s">
                <div class="blog-categories">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="#">Body Fitness</a></li>
                        <li><a href="#">Get Online Tips</a></li>
                        <li><a href="#">Aerobic Exercises</a></li>
                        <li><a href="#">Yoga Courses</a></li>
                        <li><a href="#">General Health</a></li>
                        <li><a href="#">Fit and Lift</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

