@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NutritionistLayout.cshtml";
}
<body>
    <div class="main-panel">
        <div class="col-md-8 mx-auto my-5">
            <div class="card card-user">
                <div class="card-body text-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                    @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> UserManager
                        var user = await UserManager.GetUserAsync(User);

                        if (user.CertificateImage != null)
                        {
                            switch (user.CertificateStatus)
                            {
                                case CertificateStatus.Pending:
                                    <p class="card-title text-info">
                                        📋 Sertifikanızın doğrulanması bekleniyor...
                                    </p>
                                    ;
                                    break;

                                case CertificateStatus.Approved:
                                    <h5 class="card-title text-success text-center">
                                        🎉 Tebrikler Sertifikanız Onaylandı! 🎉
                                    </h5>
                                    ;
                                    break;

                                case CertificateStatus.Invalid:
                                    <p class="card-title text-danger">
                                        ⚠️ Sertifikanız geçersiz, lütfen yeniden gönderiniz. ⚠️
                                    </p>
                                    ;
                                    break;

                                case CertificateStatus.NotSubmitted:
                                default:
                                    <p class="card-title text-danger">
                                        ⚠️ <a asp-area="" asp-controller="NutritionistCertificate" asp-action="Index">Lütfen Sertifikanızı gönderiniz</a> ⚠️
                                    </p>
                                    ;
                                    break;
                            }
                        }
                        else
                        {
                            <p class="card-title text-danger">
                                ⚠️ <a asp-area="" asp-controller="NutritionistCertificate" asp-action="Index">Lütfen Sertifikanızı gönderiniz</a> ⚠️
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>