@model AppUser
@{
    ViewData["Title"] = "Sertifika Yükleme";
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #e9ecef;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 30px;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 26px;
        margin-bottom: 10px;
        color: #343a40;
        text-align: center;
    }

    hr {
        border: 0;
        height: 1px;
        background: #343a40;
        margin-bottom: 20px;
    }

    label {
        font-size: 16px;
        margin-bottom: 10px;
        color: #495057;
        display: block;
    }

    input[type="file"] {
        font-size: 14px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #ced4da;
        border-radius: 5px;
        background-color: #f8f9fa;
        color: #495057;
    }

        input[type="file"]:hover {
            background-color: #e2e6ea;
        }

    .text-bg-info {
        background-color: #d1ecf1;
        color: #0c5460;
        padding: 10px;
        margin: 20px 0;
        border-radius: 5px;
        font-size: 14px;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        color: #ffffff;
        background-color: #28a745;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        button:hover {
            background-color: #218838;
        }

    .footer {
        margin-top: 40px;
        padding: 10px 0;
        background-color: #f4f4f4;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: black;
    }
</style>

<div class="container">
    <h1>Sertifika Yükleme</h1>
    <hr />
    <form method="post" asp-action="Index" asp-controller="NutritionistCertificate" enctype="multipart/form-data">
        <label for="certificate">Sertifika Dosyası (PDF, JPG, PNG):</label>
        <input type="file" asp-for="CertificateImage">
        <p class="text-bg-info">Sertifikanızı lütfen e-devlet'ten barkodlu olacak şekilde indirip yükleyiniz. Verileriniz kimse ile paylaşılmayacaktır.</p>
        <button type="submit">Yükle</button>
    </form>
</div>

<div class="footer">
    <p>&copy; 2024 Nutri Tüm hakları saklıdır.</p>
</div>
