@model OnlineNutritionistProject.Areas.Member.Models.MemberEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<head>
    <style>
        .file-upload {
            position: relative;
            overflow: hidden;
            margin: 10px;
        }

            .file-upload input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 10px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }

            .file-upload .file-upload-icon {
                display: inline-block;
                padding: 2px 8px;
                cursor: pointer;
                background-color: #00bcd4; 
                color: #fff;
                border: 1px solid #00bcd4;
            }

        .form-group-center {
            text-align: center;
        }

            .form-group-center .form-control {
                display: inline-block;
                width: auto;
                max-width: 300px;
            }

        .row-centered {
            display: flex;
            justify-content: center;
            margin: 0;
        }

        .col-md-6-centered {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .col-md-4-centered {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-group-full-width {
            width: 100%;
        }

            .form-group-full-width input {
                width: 100%;
            }

        .text-center {
            text-align: center;
        }

        .btn-large {
            font-size: 18px; 
            padding: 12px 24px; 
            border-radius: 8px; 
        }
    </style>
</head>
<div class="content">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card card-user mx-auto">
                <div class="card-header">
                    <h5 class="card-title">Profil Düzenleme Sayfası</h5>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5 pr-1">
                                <div class="form-group">
                                    <label>Kayıt Türü</label>
                                    <input type="text" class="form-control" disabled="" placeholder="Company" value="Kullanıcı">
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    @Html.Label("Kullanıcı Adı")
                                    <input type="text" class="form-control" disabled="" placeholder="@ViewBag.userName">
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label>Telefon Numarası</label>
                                    <input type="text" asp-for="phonenumber" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>İsim</label>
                                    <input type="text" asp-for="name" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Soyisim</label>
                                    <input type="text" asp-for="surname" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Mail Adresi</label>
                                    <input type="email" asp-for="mail" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Şuanki Kilo</label>
                                    <input type="number" asp-for="currentWeight" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Hedef Kilo</label>
                                    <input type="number" asp-for="targetWeight" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @{
                                var weightDifference = Model.targetWeight - Model.currentWeight;
                                if (weightDifference > 0)
                                {
                                    <div class="alert alert-info">
                                        Hedefinize @weightDifference kilo kaldı, çalışmaya devam edin!
                                    </div>
                                }
                                else if (weightDifference == 0)
                                {
                                    <div class="alert alert-success">
                                        Tebrikler! Hedefinize ulaştınız!
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-warning">
                                        Hedef kilonuzun üstüne çıktınız, kilo vermeyi düşünebilirsiniz.
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Açıklama</label>
                                <textarea asp-for="description" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="form-group file-upload">
                            <label>Resim Yükle</label>
                            <div class="input-group">
                                <input type="file" asp-for="Image" class="form-control" />
                                <span class="file-upload-icon">Dosya Seç</span>
                            </div>
                        </div>
                        <div class="row row-centered">
                            <div class="col-md-6 col-md-4-centered">
                                <div class="form-group form-group-full-width">
                                    <label>Şifre</label>
                                    <input type="text" asp-for="password" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 col-md-4-centered">
                                <div class="form-group form-group-full-width">
                                    <label>Şifre Tekrar</label>
                                    <input type="text" asp-for="confirmpassword" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-fill btn-primary btn-large">Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var commentInput = document.querySelector(".comment-description");
        commentInput.style.height = "150px"; // Text'in varsayılan yükseklikliği//Default height
    });
</script>

