<div class="navbar navbar-default navbar-fixed-top sticky-navigation" role="navigation">
	<div class="container">

		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Nutritionist</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right main-navigation">
				<li><a href="/Default/Index/" class="smoothScroll">Ana Sayfa</a></li>
				<li><a href="#overview" class="smoothScroll">Hakkımızda</a></li>
				<li><a href="#trainer" class="smoothScroll">Diyetisyenler</a></li>
				<li><a href="#blog" class="smoothScroll">Bloglar</a></li>
				<li><a href="#price" class="smoothScroll">Kitaplar</a></li>
				@if (User.Identity.IsAuthenticated)
				{
					<li><a asp-action="Logout" asp-controller="Login">Çıkış Yap</a></li>
					<li><a asp-area="User" asp-action="Index" asp-controller="UserProfile">PROFİL</a></li>
					if (User.IsInRole("Admin"))
					{
						<li><a asp-area="Admin" asp-action="Index" asp-controller="AdminDefault">Admin</a></li>
					}
				}
				else
				{
					<li><a asp-controller="Login" asp-action="SignIn">Giriş Yap</a></li>
					<li><a asp-controller="Account" asp-action="SignUp">Kaydol</a></li>
				}
			</ul>
		</div>

	</div>
</div>