@model List<Association>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section id="blog" class="parallax-section">
    <div class="container">
        <h3 class="text-center association-title">Dernekler</h3>
        <hr />
        <ul class="association-list">
            @foreach (var item in Model)
            {
                <li class="association-item">
                    <img src="/associationimages/@item.Image" class="association-image" alt="blog">
                    <h3 class="association-title">@item.Title</h3>
                    <a href="@item.WebUrl" class="btn btn-primary custom-button">Bağış Yap</a>
                </li>
            }
        </ul>
    </div>
</section>

<style>
    .association-list {
        list-style-type: none; 
        padding: 0;
        margin: 0;
    }

    .association-item {
        border: 1px solid #ddd; 
        border-radius: 8px; 
        padding: 15px;
        margin-bottom: 20px;
        display: flex; 
        align-items: center;
        transition: transform 0.2s; 
    }

        .association-item:hover {
            transform: scale(1.02); 
        }

    .association-image {
        width: 130px;
        height: 120px; 
        object-fit: cover;
        border-radius: 8px; 
        margin-right: 20px;
    }

    .association-title {
        font-size: 22px;
        font-weight: bold;
        margin: 0; 
    }

    .custom-button {
        padding: 7px 15px; 
        font-size: 16px;
        margin-left: auto;
        background-color: transparent; 
        color: #003d7a; 
        border: 2px solid #003d7a;
        transition: background-color 0.3s, color 0.3s; 
    }

        .custom-button:hover {
            background-color: #003d7a; 
            color: white;
        }

    .association-title.text-center {
        font-size: 28px; 
        font-weight: bold; 
        margin: 0; 
        text-align: center;
        margin-bottom: 20px; 
    }
</style>
