@model List<Comment>

    <style>
    .comment-image {
        width: 50px; /* Belirli bir genişlik */
        height: 50px; /* Belirli bir yükseklik */
        border-radius: 50%; /* Yuvarlak kenarlar (isteğe bağlı, img-circle yerine) */
    }
</style>
<div class="blog-comment wow fadeInUp" data-wow-delay="1s">
    <h3>Yorumlar</h3>

    @foreach (var item in Model)
    {
        <div class="media">
            <div class="media-object pull-left">
                <img src="/memberimages/@item.AppUser.ImageUrl" class="img-responsive comment-image" alt="blog">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@item.AppUser.Name @item.AppUser.Surname</h4>
                <h5>@(((DateTime)item.CreatedDate).ToString("dd-MMM-yyyy"))</h5>
                <p>@item.CommentContent</p>
            </div>
        </div>
    }
</div>