@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    @await Html.PartialAsync("/Views/IndexPartial/_HomeSectionPartial.cshtml")

    @await Html.PartialAsync("/Views/IndexPartial/_OverViewPartial.cshtml")

    @await Component.InvokeAsync("_NutritionistList")
    
    @await Html.PartialAsync("/Views/IndexPartial/_NewsletterPartial.cshtml")
    
    <!-- =========================
        BLOG SECTION
    ============================== -->
    @await Component.InvokeAsync("_PopularBlogs")
    @await Component.InvokeAsync("_PopularBooks")
    <!-- =========================
        TESTIMONIAL SECTION
    ============================== -->
    @await Html.PartialAsync("/Views/IndexPartial/_TestimonialPartial.cshtml")
</body>
</html>
