<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Tooplate">

    <title>Mini Finance Dashboard Template</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">

    <link href="~/Admin/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Admin/css/bootstrap-icons.css" rel="stylesheet">

    <link href="~/Admin/css/apexcharts.css" rel="stylesheet">

    <link href="~/Admin/css/tooplate-mini-finance.css" rel="stylesheet">
    <!--

    Tooplate 2135 Mini Finance

    https://www.tooplate.com/view/2135-mini-finance

    Bootstrap 5 Dashboard Admin Template

    -->

</head>