@model AppUser
@{
    ViewData["Title"] = "GetBlogsByNutri";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<style>
    .diyetisyen-card {
        text-align: center;
        background-color: #f8f9fa;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

        .diyetisyen-card img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 15px;
        }

        .diyetisyen-card h3 {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 600;
        }

        .diyetisyen-card p {
            font-size: 16px;
            color: #6c757d;
        }

    .blog-card {
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.2s ease-in-out;
    }

        .blog-card img {
            object-fit: cover;
            height: 250px; 
            width: 100%; 
        }

        .blog-card:hover {
            transform: translateY(-5px);
        }
</style>

<section id="blog" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card diyetisyen-card">
                    <img src="/nutrimages/@Model.ImageUrl" alt="Diyetisyen Resmi">
                    <h3>@Model.Name @Model.Surname</h3>
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model.Blogs)
            {
                <div class="col-md-6 col-sm-12 mb-4">
                    <div class="card blog-card shadow-sm">
                        <img src="/blogsimages/@item.Image" class="card-img-top" alt="Blog Image">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/Blogs/BlogsDetails/@item.Id">@item.Title</a></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, maecenas eget vestibulum justo.</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
