@model BlogFeature

<div>
    <form method="post" asp-controller="Blogs" asp-action="LikeBack">
        
        <input type="hidden" asp-for="Id" value="@ViewBag.LikeId" />
        <input type="hidden" asp-for="BlogId" value="@ViewBag.BlogId" />
        <input type="hidden" asp-for="AppUserId" value="@ViewBag.AppuserId" />
        <input type="hidden" asp-for="status" value="false" />
        <button type="submit">Beğeniyi geri al</button>
    </form>



</div>

