<section id="home" class="parallax-section" style="background: none 50% -62px; position: relative; z-index: 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3 class="wow bounceIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: bounceIn;">Merhabalar! online diyetisyenlik sitesine hoş geldiniz</h3>
                <h1 class="wow fadeInUp animated" data-wow-delay="1.6s" style="visibility: visible; animation-delay: 1.6s; animation-name: fadeInUp;">Professional<br>Fitness Club</h1>
                <a href="#overview" class="wow fadeInUp smoothScroll btn btn-default animated" data-wow-delay="2s" style="visibility: visible; animation-delay: 2s; animation-name: fadeInUp;">LEARN MORE</a>
            </div>
        </div>
    </div>
    <div class="backstretch"><img style="" src="/theme/images/home-bg-slider-img2.jpg"></div>
</section>