<aside class="sidebar">
    <h4 class="sidebar-heading">Menü</h4>
    <ul class="nav flex-column">
        <li class="nav-item"><a asp-area="Nutritionist" asp-controller="NutriDashboard" asp-action="Index" class="nav-link"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
        <li class="nav-item"><a asp-area="Nutritionist" asp-controller="Blog" asp-action="ListBlog" class="nav-link"><i class="fas fa-blog"></i>Bloglar</a></li>
        <li class="nav-item">
            <a href="/Admin/CertificateStatus" class="nav-link">
                <i class="fas fa-certificate"></i>
                Sertifika Durumu
                <span class="cert-status">
                    @if (User.Identity.IsAuthenticated)
                    {
                    @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> UserManager
                        var user = await UserManager.GetUserAsync(User);

                        if (user.CertificateImage != null)
                        {
                            switch (user.CertificateStatus)
                            {
                                case CertificateStatus.Pending:
                                    <p class="card-title text-info">
                                        📋 Onay Bekliyor
                                    </p>
                                    ;
                                    break;

                                case CertificateStatus.Approved:
                                    <h5 class="card-title text-success text-center">
                                        🎉 Onaylandı!
                                    </h5>
                                    ;
                                    break;

                                case CertificateStatus.Invalid:
                                    <p class="card-title text-danger">
                                        ⚠️ geçersiz. ⚠️
                                    </p>
                                    ;
                                    break;

                                case CertificateStatus.NotSubmitted:
                                default:
                                    <p class="card-title text-danger">
                                        ⚠️ <a asp-area="" asp-controller="NutritionistCertificate" asp-action="Index">Yüklenmedi</a> ⚠️
                                    </p>
                                    ;
                                    break;
                            }
                        }
                        else
                        {
                            <p class="card-title text-danger">
                                ⚠️ <a asp-area="" asp-controller="NutritionistCertificate" asp-action="Index">Yüklenmedi</a> ⚠️
                            </p>
                        }
                    }
                </span>
            </a>
        </li>
        <li class="nav-item"><a asp-area="Nutritionist" asp-controller="Books" asp-action="ListBooks" class="nav-link"><i class="fas fa-book"></i>Kitaplar</a></li>
        <li class="nav-item"><a asp-area="Nutritionist" asp-controller="Package" asp-action="ListPackages" class="nav-link"><i class="fas fa-box"></i>Paketler</a></li>
        <li class="nav-item"><a asp-area="Nutritionist" asp-controller="Donate" asp-action="AddDonateReceipt" class="nav-link"><i class="fas fa-heart"></i>Bağış</a></li>
        <li class="nav-item"><a asp-area="" asp-controller="" asp-action="" class="nav-link"><i class="fas fa-user-cog"></i>Hesap İşlemleri</a></li>
    </ul>
    <div class="action-buttons">
        <a href="/Default/Index" class="btn-site">Siteye Git</a>
        <a href="/Account/Logout" class="btn-logout">Çıkış Yap</a>
    </div>
</aside>