<header>
    <h6 class="header-title">Diyetisyen Paneli</h6>
    <div class="header-icons">
        <input type="text" class="search-bar" placeholder="Ara..." />
        <a href="#"><i class="fas fa-envelope"></i></a>
    </div>
</header>
