@model List<Package>
@{
    ViewData["Title"] = "PackageList";
    Layout = "~/Views/Shared/_NutritionistLayout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Paketleriniz</h4>
                </div>

                <table class="table table-bordered" style="text-align: center; vertical-align: middle;">
                    <tr>
                        <th>
                            Resim
                        </th>
                        <th>
                            Başlık
                        </th>
                        <th>
                            Paket İçeriği
                        </th>
                        <th>
                            Fiyat
                        </th>
                        <th>
                            Durum
                        </th>
                        <th>
                            İşlemler
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="/packagesimages/@item.Image" alt="" style="width: 100px; height: auto;" />
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @item.Price TL
                            </td>
                            <td>
                                @if(@item.Remove == false)
                                {
                                    <a class="btn btn-outline-dark">Paylaşımı Gizle</a>
                                }
                                @if (@item.Remove == true)
                                {
                                    <a class="btn btn-outline-success">Tekrar Paylaş</a>
                                }
                            </td>
                            <td>
                                <a asp-area="Nutritionist" asp-controller="Package" asp-action="" class="btn btn-outline-primary">Sitede Gör</a>

                                <a asp-area="Nutritionist" asp-controller="Package" asp-action="" class="btn btn-outline-warning">Düzenle</a>

                                <a asp-area="Nutritionist" asp-controller="Package" asp-action="" class="btn btn-outline-danger">Sil</a>
                            </td>
                        </tr>
                    }
                </table>

                <a asp-area="Nutritionist" asp-controller="Package" asp-action="AddPackage" class="btn btn-outline-success">Yeni Paket Ekle</a>
            </div>
        </div>
    </div>
</div>


