<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        // Yorum ekleme işlemi //Comment adding process//
        $('#commentForm').submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("AddCommentAjax", "Blogs")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        var newComment = `
                        <div class="comment" id="comment-${response.commentId}">
                            <div class="comment-header">
                                <img src="/memberimages/${response.userImage}" class="comment-avatar" alt="${response.userName}">
                                <div class="comment-info">
                                    <h5>${response.userName}</h5>
                                    <span class="date">${response.commentDate}</span>
                                </div>
                            </div>
                            <div class="comment-content">
                                <p>${response.commentContent}</p>
                            </div>
                        </div>`;
                        $('#commentSection').append(newComment);
                        $('#commentForm textarea').val('');
                    }
                }
            });
        });


        // Beğenme işlemi //Liking action//
        $('#likeButton').click(function () {
            var blogId = $(this).data('blog-id');
            $.ajax({
                url: '@Url.Action("ToggleLikeAjax", "Blogs")',
                type: 'POST',
                data: { blogId: blogId },
                success: function (response) {
                    if (response.success) {
                        $('#likeCount').text(response.likeCount);
                        $('#likeCountButton span').text(response.likeCount);
                        $('#likeButton').toggleClass('liked');

                        var buttonText = $('#likeButton').hasClass('liked') ? 'Beğendin' : 'Beğen';
                        $('#likeButtonText').text(buttonText);

                        $('#likeButton').css('color', 'white');
                    }
                }
            });
        });

        // Yorum sabitleme ve kaldırma işlemi //Comment pinning and removal process//
        $('.pin-comment').click(function () {
            var commentId = $(this).data('comment-id');
            var button = $(this);
            $.ajax({
                url: '@Url.Action("PinCommentAjax", "Blogs")',
                type: 'POST',
                data: { id: commentId },
                success: function (response) {
                    if (response.success) {
                        var comment = button.closest('.comment');
                        if (response.isPinned) {
                            comment.addClass('pinned-comment');
                            button.text('Sabitlemeyi Kaldır').removeClass('btn-info').addClass('btn-warning');
                            if (comment.find('.pinned-label').length === 0) {
                                comment.find('.comment-header').append('<div class="pinned-label"><i class="fas fa-thumbtack"></i> Sabitlenmiş Yorum</div>');
                            }
                            $('#commentSection').prepend(comment); 
                        } else {
                            comment.removeClass('pinned-comment');
                            button.text('Yorumu Sabitle').removeClass('btn-warning').addClass('btn-info');
                            comment.find('.pinned-label').remove();
                            $('#commentSection').append(comment); 
                        }
                    }
                }
            });
        });

    });
</script>
