<div class="navbar navbar-default navbar-fixed-top sticky-navigation" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Nutritionist</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right main-navigation">
                <li><a href="/Default/Index" class="smoothScroll">Ana Sayfa</a></li>
                <li><a href="#overview" class="smoothScroll">Hakkımızda</a></li>
                <li><a href="#trainer" class="smoothScroll">Diyetisyenler</a></li>
                <li><a href="#blog" class="smoothScroll">Bloglar</a></li>
                <li><a href="#price" class="smoothScroll">Kitaplar</a></li>
                @await Component.InvokeAsync("_ProfileLogin")
                
            </ul>
        </div>
  
    </div>
</div>