@model Comment
@if (User.Identity.IsAuthenticated)
{
    <div class="leave-comment-form mt-5" id="reply">
        <h4 class="side-title mb-2">Bir Yorum Bırakın</h4>
        <p class="mb-4">
            İşaretli alanları doldurmanız gerekmektedir.
        </p>

        <form method="post" asp-action="_CommentPartial" asp-controller="Comment">
            <input type="text" name="BlogId" value="@ViewBag.BlogId" />
            <input type="text" name="AppUserId" value="@ViewBag.AppuserId" />
            <div class="form-group">
                @Html.Label("Yorumunuz")
                <input type="text" asp-for="CommentContent" value="@ViewBag.Commentcontent" class="form-control" />
            </div>
            <div class="input-grids row">
            </div>

            <div class="submit text-right">
                <button class="btn btn-style btn-primary">Yorum Yap</button>
            </div>
        </form>
    </div>
}
else
{
    <h2>Yorum Yapabilmeniz için kayıt olmanız gerekmektedir.</h2>
}