<header>
    <h6 class="m-0" style="margin-right: auto; padding-left: 35px;">Nutri Admin Paneli</h6>
    <div class="action-buttons">
        <a href="/Default/Index" class="btn btn-success btn-sm">Siteye Git</a>
        <a href="" class="btn btn-danger btn-sm">Çıkış Yap</a>
    </div>
</header>
