<aside class="sidebar">
    <h4 class="sidebar-heading">Menü</h4>
    <hr />
    <ul class="nav flex-column">
        <li class="nav-item"><a href="/Admin/Dashboard/Index" class="nav-link"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li class="nav-item"><a href="/Admin/" class="nav-link"><i class="fas fa-users"></i>Diyetisyenler</a></li>
        <li class="nav-item"><a href="/Admin/CertificateVerify/Index" class="nav-link"><i class="fas fa-book-open"></i>Sertifikalar</a></li>
        <li class="nav-item"><a href="/Admin/AssociationController/ListAssociation" class="nav-link"><i class="fas fa-th-list"></i>Dernekler</a></li>
        <li class="nav-item"><a href="/Admin/" class="nav-link"><i class="fas fa-user-cog"></i>Hesap İşlemleri</a></li>
    </ul>
</aside>