
<div class="col-md-8">
    <div class="card card-user" style="height: 610px;">
        <div class="image" style="background-image: url('../assets/img/gym.jpg'); background-size: cover;">
        </div>
        <div class="card-body" style="height: 60%;">
            <div class="author">
                <a href="#">
                    <img class="avatar border-gray" src="~/memberimages/@ViewBag.UserImage" alt="...">
                    <h5 class="title">@ViewBag.memberName</h5>
                </a>
                <p class="description"></p>
            </div>
            <br />
            <br />
            <p class="description text-center" style="color: black; font-size: 16px;">
                Merhaba, benim adım Umut. Kilolarım ile ilgili uzun yıllardır sıkıntı yaşıyorum... Bir çok doktora gittim ama sonuç alamadım, burada kilo sorunumu aşacağıma inanıyorum.

            </p>
        </div>
        <div class="card-footer">
            <hr>
            <div class="button-container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-6 ml-auto">
                        <h5>12<br><small>Files</small></h5>
                    </div>
                    <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                        <h5>2GB<br><small>Used</small></h5>
                    </div>
                    <div class="col-lg-3 mr-auto">
                        <h5>24,6$<br><small>Spent</small></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>